*{
  padding: 0;
  margin: 0;
}
.header{
  width: 100%;
  height: 280px;
  background: #555;
}
.swiper-container-ul{
  list-style: none;
  overflow: hidden;
  width: 100%;
  background: #fff;
  top: 0;
}
.swiper-container-ul-li{
  width: 50%;
  height: 40px;
  line-height: 40px;
  float: left;
  text-align: center;
}
.actives{
  border-bottom: 2px solid rgba(99, 110, 241, 0.79);
  color: rgb(62, 156, 194);
}
.content{
  width: 100%;
  overflow: hidden;
}
.left{
  top: 41px;
  float: left;
  width: 25%;
  height: 100%;
  background-image: url('./resources/images/haiyang.png');background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%; 
}
.left ul{
  list-style: none;
}
.left ul li{
  padding: 15px 5px;
  text-align: center;
}
.active{
  background: #fff;
  border-left: 2px solid #3190e8;
  opacity: 0.5
}
.right{
  float: left;
  width: 75%;
  height: 100%;
}
.right ul{
  list-style: none;
}
.class-title{
  padding: 7px 10px;
  background: #ececec;
}
.item{
  overflow: hidden;
  width: 100%;
  padding: 10px;
  padding-bottom : 1px;
  padding-top : 1px;
  background: #fff;
}
.item-left{
  float: left;
}
.item-right{
  float: left;
  padding: 0 10px;
}
.item-img{
  width: 100px;
  height: 100px;
  background: #eee;
  float:left;
  
}
.title{
  width: 100px;
  height: 20px;
  margin-top: 10px;
  background: #fff;
}
.subtitle{
  width: 70px;
  height: 20px;
  margin-top: 10px; 
}
.price{
  width: 50px;
  height: 20px;
  margin-top: 10px; 
}
.contBox{
	width:100%;
	overflow:hidden;
	height:120px;
	margin-top:10px;
}
 
.contBox_right{
	width:calc(100% - 140px);
	height:100%;
	float:left;
	padding:0px 20px;
}
.contBox_p{
	line-height:32px;
}
.transBox{
	width:100%;
	height:80px;
	overflow:hidden;
}
.transBox_left{
	width: 100px;
    float: left;
    margin-top: 10px;
    height:100%;
}
.transBox_right{
	width: calc(100% - 140px);
    height: auto;
    float: left;
    padding: 15px 20px;
}
.transBox_p{
	font-size:12px;
	color: #969696;
	width: 100%;
	line-height:20px;
}
